<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.healthProtector.member.dao.MemberDAO">
	<insert id="createMember" parameterType="MemberDTO">
		INSERT INTO MEMBER
	(
		MEMBER_ID,
		ROLE_ID,
		GRADE_ID,
		PASSWORD,
		NAME,
		EMAIL,
		PHONE_NUMBER,
		ZIP_CODE,
		ROAD_ADDRESS,
		JIBUN_ADDRESS,
		NAMUJI_ADDRESS,
		PERSONAL_INFORMATION_YN
	)
	VALUES
	(
		#{memberId},
		2, 
		1,
		#{password},
		#{name},
		#{email},
		#{phoneNumber},
		#{zipcode},
		#{roadAddress},
		#{jibunAddress},
		#{namujiAddress},
		#{personalInformationYn}
	)
	</insert>
	
	<select id="selectDuplicatedId" parameterType="String" resultType="String">
		SELECT MEMBER_ID
		  FROM MEMBER
		 WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="login" parameterType="String" resultType="MemberDTO">
		SELECT PASSWORD,
		       ACTIVE_YN
		  FROM MEMBER
		 WHERE MEMBER_ID = #{memberId}
		   AND ACTIVE_YN = "y"
	</select>
</mapper>