<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout.html}">
<head>
<title>장바구니</title>
<meta charset="utf-8">
<script src="/js/jquery-3.6.1.min.js"></script>
<style>
.total-amount-container {
	width: 100%;
	justify-content: flex-end; /* 오른쪽 정렬 */
}
</style>
<script>
	$(document).ready(function() {
	    $(".js-btn-plus, .js-btn-minus").on('click', function() {
	        setTimeout(function() {
	            updatePurchasePriceAndTotalAmount();
	        }, 50);
	    });
	
	    $(".quantity-input").on('change', function() {
	        updatePurchasePriceAndTotalAmount();
	    });
			
	    updatePurchasePriceAndTotalAmount();
	    
	    function updatePurchasePriceAndTotalAmount() {
	        var totalAmount = 0;
	        $(".product-quantity").each(function() {
	            let $row = $(this).closest('tr');
	            let price = parseInt($row.find(".product-price").data('price')); // 판매가
            	let quantity = parseInt($row.find(".quantity-input").val()); // 수량
	            let total = price * quantity; // 구매가 = 판매가 * 수량
            	
            	$row.find(".product-total").text(total.toLocaleString() + '원'); // 구매가 업데이트
	            
            	if (!isNaN(total)) {
            		totalAmount += total; // 총 금액 업데이트	
            	}
	        });
	
	        // 총 금액 표시
	        $(".total-cost").text(totalAmount.toLocaleString() + '원');
	    }
	});

	$(function() {

		$(".remove-item-btn").click(function() {

			var cartId = $(this).data('cart-id');

			$.ajax({
				type : "post",
				url : "/cart/removeItem",
				data : {
					cartId : cartId
				},
				success : function(response) {
					window.location.reload();
				},
				error : function(error) {
					console.error(error);
				}
			});
		});

	});
</script>
</head>
<body>
	<div layout:fragment="container">
		<div class="site-wrap">
			<div class="bg-light py-3">
				<div class="container">
					<div class="row">
						<div class="col-md-12 mb-0">
							<a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
								class="text-black">Cart</strong>
						</div>
					</div>
				</div>
			</div>

			<div class="site-section">
				<div class="container">
					<div class="row mb-5">
						<form class="col-md-12" method="post">
							<div class="site-blocks-table">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th class="product-thumbnail">상품이미지</th>
											<th class="product-name">상품</th>
											<th class="product-cost">판매가</th>
											<th class="product-quantity">수량</th>
											<th class="product-sum">구매가</th>
											<th class="product-remove">선택</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="cartItem : ${cartList}">
											<td class="product-thumbnail">
												<img th:src="@{/thumbnails(fileName=${cartItem.pictureUUID})}" alt="Image" class="img-fluid">
											</td>
											<td class="product-name">
												<h2 class="h5 text-black" th:text="${cartItem.productName}"></h2>
											</td>
											<td class="product-price" th:data-price="${cartItem.price}"
												th:text="${#numbers.formatInteger(cartItem.price, 3, 'COMMA') + '원'}"></td>
											<td class="product-quantity" style="padding: 10px">
												<div align="center">
													<div class="input-group mb-3" style="max-width: 120px;">
														<div class="input-group-prepend">
															<button class="btn btn-outline-primary js-btn-minus"
																type="button">&minus;</button>
														</div>
														<input type="text" class="form-control text-center quantity-input"
															th:name="'quantity_' + ${cartItem.productId}"
															th:value="${cartItem.quantity}" min="1" th:data-product-id="${cartItem.productId}">
														<div class="input-group-append">
															<button class="btn btn-outline-primary js-btn-plus"
																type="button">&plus;</button>
														</div>
													</div>
												</div>
											</td>
											<td class="product-total" th:data-product-id="${cartItem.productId}"
												th:text="${#numbers.formatInteger(cartItem.quantity * cartItem.price, 3, 'COMMA') + '원'}"></td>
											<td><input type="button" id="removeBtn" value="Remove"
												class="btn btn-primary btn-sm remove-item-btn"
												th:data-cart-id="${cartItem.cartId}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>

					<div class="total-amount-container">
						<div class="row">
							<div class="col-md-12">
								<div class="row justify-content-end">
									<div class="col-md-4">
										<div class="row">
											<div class="col-md-12 text-right border-bottom mb-5">
												<h3 class="text-black h4 text-uppercase">총 금액</h3>
											</div>
										</div>
										<div class="row mb-1">
											<div class="col-md-6">
		                    <span class="text-black">Total Cost:</span>
		                  </div>
											<div class="col-md-6 text-right">
		                    <strong class="text-black total-cost"></strong>
		                  </div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<a th:href="@{/order/checkout}" class="btn btn-primary btn-lg py-3 btn-block">주문하기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>