<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
<script th:src="@{/jquery/jquery-3.6.1.min.js}"></script>
<script th:src="@{http://dmaps.daum.net/map_js_init/postcode.v2.js}"></script>
<script>
	function execDaumPostcode() {
		new daum.Postcode(
				{
					oncomplete : function(data) {
						// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

						// 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
						// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
						var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
						var extraRoadAddr = ''; // 도로명 조합형 주소 변수

						// 법정동명이 있을 경우 추가한다. (법정리는 제외)
						// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
						if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
							extraRoadAddr += data.bname;
						}
						// 건물명이 있고, 공동주택일 경우 추가한다.
						if (data.buildingName !== '' && data.apartment === 'Y') {
							extraRoadAddr += (extraRoadAddr !== '' ? ', '
									+ data.buildingName : data.buildingName);
						}
						// 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
						if (extraRoadAddr !== '') {
							extraRoadAddr = ' (' + extraRoadAddr + ')';
						}
						// 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
						if (fullRoadAddr !== '') {
							fullRoadAddr += extraRoadAddr;
						}

						// 우편번호와 주소 정보를 해당 필드에 넣는다.
						document.getElementById('zipcode').value = data.zonecode; //5자리 새우편번호 사용
						document.getElementById('roadAddress').value = fullRoadAddr;
						document.getElementById('jibunAddress').value = data.jibunAddress;

					}
				}).open();
	}
</script>
<style>
.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-width {
	width: 50%;
	max-width: 500px;
}
</style>
<script>

	let isPassId = false;
	let isPassPasswd = false;
	let isAggrement = false;
	
	$(function() {

		$("#isValidId")
				.click(
						function() {

							let memberId = $("#memberId").val();
							if (memberId == '') {
								$("#isValidIdMsg")
										.html(
												"<span style='color:red;'>아이디를 입력하세요.</span>");
								return;
							}

							$
									.ajax({

										type : "post",
										url : "/member/validId",
										data : {
											"memberId" : memberId
										},
										success : function(isValidId) {

											if (isValidId == "y") {
												$("#isValidIdMsg")
														.html(
																"<span style='color:green;'>사용가능한 아이디입니다.</span>");
												isPassId = true;
											} else {
												$("#isValidIdMsg")
														.html(
																"<span style='color:red;'>중복된 아이디입니다.</span>");
												isPassId = false;
											}

										}

									});

						});

		$("#confirmPasswd")
				.blur(
						function() {

							let passwd = $("#password").val();
							let confirmPasswd = $("#confirmPasswd").val();

							if (passwd == confirmPasswd) {
								$("#isValidPasswdMsg")
										.html(
												"<span style='color:green;'>패스워드가 일치합니다.</span>");
								isPassPasswd = true;
							} else {
								$("#isValidPasswdMsg")
										.html(
												"<span style='color:red;'>패스워드가 일치하지 않습니다.</span>");
								isPassPasswd = false;
							}

						});

	});

	$(function() {
		$('#signupForm').submit(function(event) {
			if (!$('#aggrement').is(':checked')) {
				$('#agreementError').show();
				event.preventDefault();
			} else {
				$('#agreementError').hide();
			}
		});
	});

	function checkFormValidation() {

		if (!isPassId) {
			alert("아이디를 확인해주세요.");
			$("#memberId").focus();
			return false;
		}

		if (!isPassPasswd) {
			alert("패스워드를 확인해주세요.");
			$("#confirmPasswd").focus();
			return false;
		}
	}
</script>
<style>
</style>
</head>
<body>
	<div class="center-div">
		<div class="form-width">
			<div class="container mt-5">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<h3 class="mb-3">회원가입</h3>
						<form th:action="@{/member/registerMember}"
							th:onsubmit="return checkFormValidation();" method="post">
							<!-- 아이디 입력 -->
							<div class="form-group">
								<label for="memberId">아이디</label>
								<div class="input-group">
									<input type="text" class="form-control" name="memberId"
										id="memberId" placeholder="아이디" required>
									<div class="input-group-append">
										<button type="button" class="btn btn-primary" id="isValidId">중복확인</button>
									</div>
								</div>
								<span id="isValidIdMsg"></span>
							</div>
							<br>
							<!-- 비밀번호 입력 -->
							<div class="form-group">
								<label for="passwd">비밀번호</label> <input type="password"
									class="form-control" id="password" name="password"
									placeholder="비밀번호" required>
							</div>
							<br>
							<!-- 비밀번호 확인 -->
							<div class="form-group">
								<label for="confirmPasswd">비밀번호 확인</label> <input
									type="password" class="form-control" id="confirmPasswd"
									placeholder="비밀번호확인" required>
							</div>
							<br>
							<!-- 이름 입력 -->
							<div class="form-group">
								<label for="name">이름</label> <input type="text"
									class="form-control" name="name" placeholder="이름" required>
							</div>
							<br>
							<!-- 핸드폰 번호 입력 -->
							<div class="form-group">
								<label for="phoneNumber">핸드폰 번호</label> <input type="text"
									class="form-control" name="phoneNumber"
									placeholder="010-0000-0000" required>
							</div>
							<br>
							<!-- 이메일 입력 -->
							<div class="form-group">
								<label for="email">이메일</label> <input type="email"
									class="form-control" name="email" required>
							</div>
							<br>


							<!-- 주소 입력 -->
							<div class="form-group">
								<label for="zipcode">주소</label>
								<div class="input-group mb-2">
									<input type="text" class="form-control" placeholder="우편번호 입력"
										id="zipcode" name="zipcode">
									<div class="input-group-append">
										<button type="button" class="btn btn-primary"
											onclick="javascript:execDaumPostcode()">검색</button>
									</div>
								</div>
								<input type="text" class="form-control mb-2"
									placeholder="도로명 주소" name="roadAddress" id="roadAddress">
								<input type="text" class="form-control mb-2" placeholder="지번 주소"
									name="jibunAddress" id="jibunAddress"> <input
									type="text" class="form-control" placeholder="나머지 주소"
									name="namujiAddress" id="namujiAddress">
							</div>

							<br>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="aggrement" value="n" required> 
								<label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
							</div>

							<br>
							<!-- 회원가입 버튼 -->
							<div class="text-center">
								<input type="submit" class="btn btn-primary" value="회원가입하기">
							</div>
							<br>
							<!-- 로그인 링크 -->
							<div class="text-center mt-3">
								이미 회원가입이 되어있다면 ? <a th:href="@{/member/login}"><strong>로그인하기</strong></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>